<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014162331467-tknsgivba45i2151qihnu4c24tbr8kr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014162331467-tknsgivba45i2151qihnu4c24tbr8kr0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014162331467-2ooaioqgujru6fimnqo7o2ee7nqgi7au.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAQt9ELuyOq-vSIft7eN2gzjsgFwBvAAE</string>
	<key>GCM_SENDER_ID</key>
	<string>1014162331467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo2</string>
	<key>PROJECT_ID</key>
	<string>naberdostum-3db34</string>
	<key>STORAGE_BUCKET</key>
	<string>naberdostum-3db34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014162331467:ios:f7f5f94f58781dec7ebace</string>
</dict>
</plist>